* 
{
    margin: 0;
    padding: 0;
}
html
{
    font-family: "Raleway";
    width: 100%;
    height: 100%;
}
.header
{
    background-color: rgb(230, 230, 230);
}
.header h1
{
    color: black;
    font-size: 4em;
}
.header h3
{
    font-style: italic;
    font-size: 1.5em;
    color: #d8bea5;
}
.header h1, .header h3
{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}
hr
{
    border: 2px solid black;
    width: 50%;
    margin-left: 25%;
}
.main
{
    background-color: #d8bea5;
}
.main figure, .main figcaption
{
    padding-top: 20px;
    padding-bottom: 10px;
}
.main figure img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-radius: 10px;
    border: 2px solid black;
}
.main figure figcaption
{
    font-style: italic;
    text-align: center;
    font-size: 1em;
    padding-top: 20px;
}
.content
{
    background-color: white;

}
.content h2
{
    padding-top: 20px;
    padding-bottom: 10px;
}
.content ul
{
    line-height: 1.5;
    font-size: 1.5em;
}
.content, .tribute
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.tribute
{
    padding-top: 20px;
    font-size: 20px;
}
.tribute i
{
    padding-left: 30%;
}
.tribute h3
{
    font-size: 19px;
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer
{
    background-color: #d8bea5;
    text-align: center;
    padding: 20px;
}